USE [MyLibraryDB]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 6/4/2026 4:59:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[AdminKullaniciAdi] [nvarchar](50) NOT NULL,
	[AdminSifre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Admins__719FE4E869F4788F] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 6/4/2026 4:59:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[AuthorID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Authors] PRIMARY KEY CLUSTERED 
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 6/4/2026 4:59:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[BookName] [nvarchar](max) NOT NULL,
	[PageCount] [int] NOT NULL,
	[PublishDate] [datetime] NOT NULL,
	[AuthorID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[PublisherID] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 6/4/2026 4:59:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loans]    Script Date: 6/4/2026 4:59:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loans](
	[LoanID] [int] IDENTITY(1,1) NOT NULL,
	[BookID] [int] NOT NULL,
	[MemberID] [int] NOT NULL,
	[LoanDate] [datetime] NOT NULL,
	[ReturnDate] [datetime] NOT NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Loans] PRIMARY KEY CLUSTERED 
(
	[LoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 6/4/2026 4:59:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[JoinDate] [datetime] NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publishers]    Script Date: 6/4/2026 4:59:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishers](
	[PublisherID] [int] IDENTITY(1,1) NOT NULL,
	[PublisherName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Publishers] PRIMARY KEY CLUSTERED 
(
	[PublisherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([AdminID], [AdminKullaniciAdi], [AdminSifre]) VALUES (1, N'Admin', N'1485')
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([AuthorID], [FirstName], [LastName]) VALUES (1, N'J.K.', N'Rowling')
INSERT [dbo].[Authors] ([AuthorID], [FirstName], [LastName]) VALUES (2, N'Aldous ', N'Huxley')
INSERT [dbo].[Authors] ([AuthorID], [FirstName], [LastName]) VALUES (3, N'Hajime', N'Isayama')
SET IDENTITY_INSERT [dbo].[Authors] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([BookID], [BookName], [PageCount], [PublishDate], [AuthorID], [CategoryID], [PublisherID], [Status]) VALUES (1, N'Harry Potter ve Felsefe Taşı', 271, CAST(N'2026-02-05T00:00:00.000' AS DateTime), 1, 1, 1, 0)
INSERT [dbo].[Books] ([BookID], [BookName], [PageCount], [PublishDate], [AuthorID], [CategoryID], [PublisherID], [Status]) VALUES (3, N'Cesur Yeni Dünya', 266, CAST(N'2026-02-05T00:00:00.000' AS DateTime), 2, 1, 3, 0)
INSERT [dbo].[Books] ([BookID], [BookName], [PageCount], [PublishDate], [AuthorID], [CategoryID], [PublisherID], [Status]) VALUES (8, N'Attack On Titan', 256, CAST(N'2026-05-05T00:00:00.000' AS DateTime), 3, 3, 1, 1)
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (1, N'Roman')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (2, N'Hikaye')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (3, N'Manga')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Loans] ON 

INSERT [dbo].[Loans] ([LoanID], [BookID], [MemberID], [LoanDate], [ReturnDate], [Status]) VALUES (2, 1, 3, CAST(N'2026-05-05T00:48:55.097' AS DateTime), CAST(N'2026-05-05T00:48:50.667' AS DateTime), 1)
INSERT [dbo].[Loans] ([LoanID], [BookID], [MemberID], [LoanDate], [ReturnDate], [Status]) VALUES (3, 1, 3, CAST(N'2026-05-05T00:50:13.183' AS DateTime), CAST(N'2026-05-05T00:50:09.853' AS DateTime), 1)
INSERT [dbo].[Loans] ([LoanID], [BookID], [MemberID], [LoanDate], [ReturnDate], [Status]) VALUES (4, 1, 3, CAST(N'2026-05-05T00:50:29.653' AS DateTime), CAST(N'2026-05-05T00:50:26.367' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Loans] OFF
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([MemberID], [FirstName], [LastName], [Email], [PhoneNumber], [JoinDate], [KullaniciAdi], [Sifre]) VALUES (3, N'Sevilay ', N'Gümüş', N'sevilaygms@gmail.com', N'', CAST(N'2025-05-05T00:00:00.000' AS DateTime), N'sevilay', N'1234')
INSERT [dbo].[Members] ([MemberID], [FirstName], [LastName], [Email], [PhoneNumber], [JoinDate], [KullaniciAdi], [Sifre]) VALUES (7, N'Ronya', N'Hasan', N'Ronyahssan@gmail.com', N'098276356782', NULL, N'ronya', N'2345')
INSERT [dbo].[Members] ([MemberID], [FirstName], [LastName], [Email], [PhoneNumber], [JoinDate], [KullaniciAdi], [Sifre]) VALUES (8, N'Tuana', N'Atalay', N'Tuanatalay@gmail.com', N'0927364829', CAST(N'2026-05-06T21:05:49.187' AS DateTime), N'tuana', N'3456')
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
SET IDENTITY_INSERT [dbo].[Publishers] ON 

INSERT [dbo].[Publishers] ([PublisherID], [PublisherName], [Email]) VALUES (1, N'YapıKredi Yayınları', N'ykykultur@ykykultur.com.tr')
INSERT [dbo].[Publishers] ([PublisherID], [PublisherName], [Email]) VALUES (3, N'İthaki Yayınları', N'editor@ithaki.com.tr')
INSERT [dbo].[Publishers] ([PublisherID], [PublisherName], [Email]) VALUES (5, N'Mundi YayınlarıS', N'mundi@gmail.com')
SET IDENTITY_INSERT [dbo].[Publishers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admins__0B6AF67D3679488C]    Script Date: 6/4/2026 4:59:41 PM ******/
ALTER TABLE [dbo].[Admins] ADD  CONSTRAINT [UQ__Admins__0B6AF67D3679488C] UNIQUE NONCLUSTERED 
(
	[AdminKullaniciAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [DF_Books_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Authors] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Authors] ([AuthorID])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Authors]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Categories]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Publishers1] FOREIGN KEY([PublisherID])
REFERENCES [dbo].[Publishers] ([PublisherID])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Publishers1]
GO
ALTER TABLE [dbo].[Loans]  WITH CHECK ADD  CONSTRAINT [FK_Loans_Books] FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[Loans] CHECK CONSTRAINT [FK_Loans_Books]
GO
ALTER TABLE [dbo].[Loans]  WITH CHECK ADD  CONSTRAINT [FK_Loans_Members] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([MemberID])
GO
ALTER TABLE [dbo].[Loans] CHECK CONSTRAINT [FK_Loans_Members]
GO
